
body {
  margin-top: 60px;
}

#history {
  display: none;
}

#history .label {
  font-size: 1.2em;
}

.loader {
	display: none;
}

#playground	{
  margin: 0 20px;
}

#playground h3 {
	margin-bottom: 1em;
}

#playground .header-wrap {
	text-align: center;
}

#playground .panel-footer {
	text-align: center;
}

#status-alert {
}

#editor {
	min-height: 600px;
	font-size: 18px;
}

#result {
	min-height: 600px;
}
