html {
	overflow-y: scroll;
}

nav.navbar {
	margin-bottom: 30px;
}

#history {
	display: none;
}

#history .label {
	font-size: 1.2em;
}

.show-on-loading {
	display: none;
}

#playground {
	margin: 0 20px;
}

#playground h3 {
	margin-bottom: 1em;
}

#playground .header-wrap {
	text-align: center;
}

#playground .panel-footer {
	text-align: center;
}

#status-alert {}

#editor {
	min-height: calc(100vh - 250px);
	font-size: 18px;
}

#result {
	min-height: calc(100vh - 250px);
}