.loader {
	display: none;
}

#playground	{

}

#playground h3 {
	margin-bottom: 1em;
}

#playground .header-wrap {
	text-align: center;
}

#playground .panel-footer {
	text-align: center;
}

#status-alert {
}

#editor {
	min-height: 400px;
	font-size: 18px;
}

#result {
	min-height: 400px;
}
